<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TCC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TCC.Properties.Settings.LocalDTB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\LocalDTB.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="TCC.Properties.Settings.InfoDTB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\InfoDTB.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.UI.WinForms.BunifuScrollBar" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.UI.WinForms.BunifuFormDock" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TCC.Properties.Settings>
      <setting name="DarkModeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AnimarBotoes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AnimarFrames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SidebarHided" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CanUpdateGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowPopups" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DoubleClickInGridEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CanShowDeleteConfirmation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCompleteCurrencyValues" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CanShowNewProductForm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RememberPassword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ItensPorPagina" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TipoDeLista" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="CanShowLoginForm" serializeAs="String">
        <value>False</value>
      </setting>
    </TCC.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="SCCorreios.AtendeCliente" name="AtendeClientePort" />
    </client>
  </system.serviceModel>
</configuration>